body {
  background-color: rgb(197, 207, 253);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(152, 205, 229);
  height: 200px;
}

h1 {
  /* margin-left: 100px;
  margin-right: 20px;
  margin-top: 15px; */
  /* margin: t r b l; */
  margin: 15px 20px 0px 100px;
  color: #ecf2f6;
  text-shadow: 2px 2px 2px rgb(53, 48, 48);
  font-size: 54px;
}

ul {
  margin-top: 50px;
  background-color: rgb(134, 198, 222);
}

nav li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 25px;
  
}

nav li a {
  color: rgb(4, 148, 225);
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

nav li a:hover {
  color: rgb(255, 255, 255);
}

main {
  width: 1000px;
  margin: 0px auto;
  min-height: 700px;
}
footer {
  text-align: center;
  background-color: rgb(113, 187, 237);
  height: 100px;
}
/* we set an id to be used just once in our html */
/* then we add the comment */
#hero {
  width: 960px;
  height: 260px;
  border: 10px solid rebeccapurple;
}
/* this is where we set up a class and we can use classes multiple times  */
.lowerPics {
  display: inline-block;
  max-width: 30%;
  margin: 10px;
  text-align: center;
}